/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */
@import url(http://fonts.googleapis.com/css?family=Cabin+Sketch:400,700);
@import url(http://fonts.googleapis.com/css?family=Limelight);
@import url(https://fonts.googleapis.com/css?family=Leckerli+One);






/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {  

}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) { 

}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 

}


/** general **/
section  {
    padding: 80px 0 40px;
    width: 600px;
	margin: 0 auto;

}

body {
    background-image: url(../img/flamingo-standing.jpg);
    background-repeat: no-repeat;
    position: relative;
}



/* intro */
#intro {
    margin-top: 100px;
    margin-bottom: 100px;
    text-align: center;
}

#intro h1 {
    font-family: 'Leckerli One', cursive;
    font-weight: 700;
    font-size: 165px;
    animation: swing 2s;
    -webkit-animation: swing 2s;
    color: rgba(255, 204, 221, 0.9);
}

@-webkit-keyframes swing {
  20% {
    -webkit-transform: rotate3d(0, 0, 1, 15deg);
            transform: rotate3d(0, 0, 1, 15deg);
  }

  40% {
    -webkit-transform: rotate3d(0, 0, 1, -10deg);
            transform: rotate3d(0, 0, 1, -10deg);
  }

  60% {
    -webkit-transform: rotate3d(0, 0, 1, 5deg);
            transform: rotate3d(0, 0, 1, 5deg);
  }

  80% {
    -webkit-transform: rotate3d(0, 0, 1, -5deg);
            transform: rotate3d(0, 0, 1, -5deg);
  }

  100% {
    -webkit-transform: rotate3d(0, 0, 1, 0deg);
            transform: rotate3d(0, 0, 1, 0deg);
  }
}

@keyframes swing {
  20% {
    -webkit-transform: rotate3d(0, 0, 1, 15deg);
            transform: rotate3d(0, 0, 1, 15deg);
  }

  40% {
    -webkit-transform: rotate3d(0, 0, 1, -10deg);
            transform: rotate3d(0, 0, 1, -10deg);
  }

  60% {
    -webkit-transform: rotate3d(0, 0, 1, 5deg);
            transform: rotate3d(0, 0, 1, 5deg);
  }

  80% {
    -webkit-transform: rotate3d(0, 0, 1, -5deg);
            transform: rotate3d(0, 0, 1, -5deg);
  }

  100% {
    -webkit-transform: rotate3d(0, 0, 1, 0deg);
            transform: rotate3d(0, 0, 1, 0deg);
  }
}

.swing {
  -webkit-transform-origin: top center;
      -ms-transform-origin: top center;
          transform-origin: top center;
  -webkit-animation-name: swing;
          animation-name: swing;
}


/** main **/

h2 {
    color: #ff80aa;
    font-family: 'Leckerli One', cursive;
    font-size: 35px;
    padding-bottom: 10px;
}

/** footer **/
footer {
	text-align: center;
	position: relative;
	background-color: #e5e3de;
	padding-bottom: 60px;
}







